.banner > .container {
  width: 100%;
  padding: 0;

  img {
    height: 60px;
  }

.navbar {
  min-height: 60px;
  margin-bottom: 0px;
  .container-fluid {
    height: 70px!important;
  }
}

.navbar-secondary {
  font-size: 0.8em;
}

.dropdown-menu {
  background-color: $black;
}

.nav .open>a {
  background-color: $black;
}

.dropdown-menu>li {
  font-size: 0.8em;
}

.dropdown-menu>li>a:hover {
  color: $brand-primary;
}
.dropdown-menu>li>a:hover, .nav>li>a:focus {
  background-color: $black!important;
}

.nav>li>a:hover {
  text-decoration: none;
  background-color: $black;
  color: $brand-primary;
}

.navbar-nav {
  margin-left: 60px;
}

.navbar-nav > li {
  height: 70px;
  padding-top: 10px;
  a {
    font-weight: 800;
    color: $white;
  }
}

  .navbar-brand {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 60px;
  }
}

.navbar-black {
  background-color: $black;
  border-radius: 0px;
}
