.container-fluid {
  width: 1200px;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.bg-image h1 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}
.main {
    background-color: #f6f6f6;
    text-align: center;
}

.page-template-template-custom-thank-you > .wide {
  width:100%;
  min-height: 100%;
  background-image:url('../images/OurPlanet.jpg');
}

.page-template-template-custom > .wide {
  width:100%;
  min-height: 100%;
  background-image:url('../images/CROWD.jpg');
  background-size:cover;
}



.wide img {
  width:100%;
}
